.manga-list-container {
  padding: 1rem;
}

.manga-list-container h2 {
  float: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  line-height: 2rem;
}

.align_center.manga_list_fs {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  gap: 0.5rem;
  float: right;
}

.manga_sorting {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.manga-grid {
  clear: both;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.manga_search_bar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.search_input {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search_button {
  background-color: red;
  color: white;
  border: none;
  padding: 0 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 770px) {
  .manga-list-container h2,
  .align_center.manga_list_fs {
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .align_center.manga_list_fs {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .align_center.manga_list_fs {
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    gap: 0.5rem;
  }
}

@media(max-width:500px){
  .search_button {
    display: none;
  }
}

@media (max-width: 480px) {
  .manga-list-container {
    padding: 0.5rem;
  }

  .manga-list-container h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

}
